{
    "branches": [
        "main"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        [
            "@semantic-release/git",
            {
                "assets": [
                    "./CHANGELOG.md"
                ]
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": []
            }
        ]
    ],
    "tagFormat": "notes-archive-${version}",
    "repositoryUrl": "https://github.com/sradc/notes"
}